body{	
font-family: "ProximaNovaRegular";
}
/*...............Heder.................*/
.heder{	
background-color: #000;
color: #fff;
display: flex;
padding-top: 29px;
padding-bottom: 29px;
padding-left: 50px;
padding-right: 90px;
font-family: "ProximaNovaBold";
}
.logo{
width: 140px;
}
.nav{
display: flex;
align-items: center;
}
.nav-link{
	margin-right: 30px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
-webkit-transition:0.2s ease-in;
-moz-transition:0.2s ease-in;
-ms-transition:0.2s ease-in;
-o-transition:0.2s ease-in;
transition:0.2s ease-in;
}
.nav-link:last-child{
	margin-right: 0;
}
.nav-link:hover{
	color: #2a4290;
}
.cart{
margin-left: auto;
display: flex;
align-items: center;


}
.cart .fa-search{
	margin-right: 25px;
	-webkit-transition:0.2s ease-in;
-moz-transition:0.2s ease-in;
-ms-transition:0.2s ease-in;
-o-transition:0.2s ease-in;
transition:0.2s ease-in;
}
.fa-search:hover{
color: #2a4290;
}
.cart .fa-shopping-cart{
	margin-right: 10px;
}
/*..............Slider heder...........*/
.slider{
height: 760px;
}
.slider_item{
height: 760px;
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: flex;
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
justify-content: center;
align-items: center;
}
.slider_item--1{
color: #000;
background-image: url("../img/bg/slide-1.jpg");
}
.slider_center-content{
	display: flex;
	flex-direction: column;
}
.slider_title{
font-size: 80px;
font-family: "ProximaNovaBlack";
text-transform: uppercase;
margin-bottom: 60px;
}
.slider_title--snowbordman{
	position: relative;
}
.slider_title--snowbordman::after{
display: block;
content: "";
position: absolute;
left: 240px;
top: -270px;
width: 420px;
height: 436px;
background-image: url("../img/bg/man.png");
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: contain;
-moz-background-size: contain;
-ms-background-size: contain;
-o-background-size: contain;
background-size: contain;
}
.slider_button{
display: inline-block;
color: #fff;
text-decoration: none;
cursor: pointer;
background-color: #000;
padding: 20px 33px;
line-height: 1;
font-size: 14px;
font-family: "ProximaNovaBold";
text-transform: uppercase;
margin-left: auto;
-webkit-transition:0.2s ease-in;
-moz-transition:0.2s ease-in;
-ms-transition:0.2s ease-in;
-o-transition:0.2s ease-in;
transition:0.2s ease-in;
}
.slider_button:hover{
	background-color: #2a4290; 
}
.slider_item--2{
color: #fff;
}
/*..............Slider snowbords...........*/
.container-full{
	display: flex;
	-webkit-flex-direction: column;
	   -moz-flex-direction: column;
		-ms-flex-direction: column;
		 -o-flex-direction: column;
		    flex-direction: column;
	-ms-align-items: center;
		align-items: center;
}
.container--snowbords{
	padding-top: 45px;
	padding-bottom: 200px;
}
.heder-group{
	position: relative;
	display: flex;
	-webkit-flex-direction: column;
	   -moz-flex-direction: column;
		-ms-flex-direction: column;
		 -o-flex-direction: column;
		    flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		padding-bottom: 50px;
		
	
}
.heder-group::after{
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	background-image: url("../img/icons/xicon.svg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}		
.title-1{
font-size: 48px;
font-family: "ProximaNovaBlack";
text-transform: uppercase;
margin: 0;
margin-bottom: 20px;

}
.sub-title{
font-size: 14px;
font-family: "ProximaNovaBold";
text-transform: uppercase;

}
.slider_snowbords{

}
.caption{
	font-size: 24px;
	text-transform: uppercase;
	font-family: "ProximaNovaBold";

}
.slider_snowbords-holder{
	width: 100%;
	overflow: hidden;
	
}
.slider_snowbords.owl-carousel{
	height: 405px;
	padding-top: 115px;
	padding-bottom: 50px;
	width: 1110px;
	margin-left: auto;
	margin-right: auto;
	
}
.slider_snowbords.owl-carousel .owl-stage-outer{
overflow: visible;
}
.slider_snowbords-iten{
	width: 370px;
	height: 405px;
	text-align: center;
	
}
.slider_snowbords.owl-carousel .owl-item img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	
}
.slider_snowbords .owl-item{
	opacity: 0.5;
}
.slider_snowbords .owl-item.center{
	opacity: 1;
}
.slider_snowbords.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
	
	position: absolute;
	top: 50%;
	width: 123px;
	height: 230px;
	display: block;
	margin-top: -115px;

	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	
}
.slider_snowbords.owl-carousel .owl-nav .owl-next{
	background-image: url("../img/icons/nexticon.svg");
	right: -120px;
}
	

.slider_snowbords.owl-carousel .owl-nav .owl-prev{
	background-image: url("../img/icons/previcon.svg");
	left: -120px;
}
/*..................Footer.................*/
.footer{
background-color: #000;
color: #fff;
padding-top: 75px;
padding-bottom: 75px;
}
.container{
width: 960px;
margin-left: auto;
margin-right: auto;

}
.row{
	margin-left: -10px;
	margin-right: -10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.col-3{
width: 25%;
padding-left: 10px;
padding-right: 10px;
}
.footer-title{
text-transform: uppercase;
font-family: "ProximaNovaBold";
font-size: 17px;
margin-bottom: 20px;

}
.footer-nav{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
}
.footer-nav_link{
color: #c9c9c9;
font-size: 14px;
text-decoration: none;
margin-bottom: 12px;
-webkit-transition:0.2s ease-in;
-moz-transition:0.2s ease-in;
-ms-transition:0.2s ease-in;
-o-transition:0.2s ease-in;
transition:0.2s ease-in;

}
.footer-nav_link:hover{
color:  #2a4290;
}
/*....................footer form..............*/
.footer-form{
margin-bottom: 60px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;

}
.footer-form__input{
background-color: #fff;
width: 160px;
height: 42px;
padding: 0;
border: 0;
padding-left: 15px;
font-size: 14px;
-webkit-transition:0.2s ease-in;
-moz-transition:0.2s ease-in;
-ms-transition:0.2s ease-in;
-o-transition:0.2s ease-in;
transition:0.2s ease-in;


}
.footer-form__input:focus{
outline: none;
background-color:  #2a4290;
color: #fff;
font-size: 18px;
}
.footer-form__button{
font-family: "ProximaNovaBold";
background-color: #c7c7c7; 
color: #fff;
width: 60px;
height: 42px;
padding: 0;
border: 0;
}
.footer-form__button:hover, .footer-form__button:focus{
	outline: none;
	cursor: pointer;
	background-color:  #7c7c7c;
	color: #fff;
	-webkit-transition:0.2s ease-in;
-moz-transition:0.2s ease-in;
-ms-transition:0.2s ease-in;
-o-transition:0.2s ease-in;
transition:0.2s ease-in;
}
.nav-links{
	font-size: 28px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.nav-links a{
	color: #fff;
	text-decoration: none;
		-webkit-transition:0.2s ease-in;
-moz-transition:0.2s ease-in;
-ms-transition:0.2s ease-in;
-o-transition:0.2s ease-in;
transition:0.2s ease-in;
	
}
.nav-links a:hover{
	color:  #2a4290;
	
}
.footer-copyright{
	padding-top: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}